@media screen and (max-width: 375px) {
    .container {
        max-width: 375px;
    }

    .first-screen-left h1 {
        font-size: 38px;
        text-align: center;
        line-height: 54px;
        letter-spacing: -0.4px;
    }

    .first-screen-left p::after {
        display: none;
    }

    .first-screen-left p::before {
        margin-left: 60px;
    }

    .first-screen-left p {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.004em;
        color: #020303;
    }

    .first-screen-right img {
        display: none;
    }

    .smallImg {
        display: flex;
        width: 354px;
        height: 355px;
    }

    .second-screen-right img {
        width: 375px;
        height: 234px;
        margin: 0 auto;
    }

    .second-screen-right h2 {
        font-size: 18px;
        text-align: center;
    }

    .third-screen-left img {
        width: 375px;
        height: 505px;
    }

    .third-screen-right {
        width: 375px;
        height: 620px;
        margin-bottom: 70px;

    }

    .third-screen-right h2 {
        font-size: 18px;
        margin-left: 150px;
    }

    .third-screen-right p {
        font-size: 16px;
        margin-top: 10px;
        width: 344px;

    }

    .smallImg2 {
        display: flex;
        width: 375px;
        height: 555px;
        margin-left: -160px;
        margin-top: -250px;
    }

    .fourth-screen-left h2 {
        font-size: 18px;
        line-height: 40px;
        text-align: center;
        margin-top: 0;
    }

    .fourth-screen-right img {
        display: none;
    }

    .block {
        width: 375px;
        padding: 15px 0;
    }

    .block1 h3 {
        font-size: 20px;
    }

    .lastCol {
        width: 367px;
        height: 133px;
    }

    .block2 {
        width: 350px;
        margin-bottom: 20px;
    }

    .block2 h3 {
        font-size: 20px;
    }

    .block2__list {
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 16px;
        width: 320px;
        margin-left: 0;
    }

    .block3 h3 {
        font-size: 20px;
    }

    .block3 img {
        width: 330px;
        height: 449px;
    }

    .block3__category {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block3__category h3 {
        font-size: 20px;
        width: 297px;
    }

    .col-blue {
        width: 360px;
        height: 64px;
        margin-left: 8px;
    }

    .footer1 {
        margin-top: 30px;
    }

    .footer1__first h3 {
        font-size: 26px;
    }

    .footer1__second p {
        font-size: 16px;
    }

    .footer1__second-button {
        width: 360px;
        height: 68.38px;
        margin-left: -5px;
    }

    .footer1__second-button img {
        width: 124px;
    }

    .footer2 {
        margin-bottom: 20px;
    }

    .footer2 h5 {
        font-size: 16px;
    }

    .footer2 p {
        font-size: 16px;
    }

    .mt {
        margin-top: 10px;
    }


}