
.header {
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

.navbar-light .navbar-nav .nav-link {
    border: 2px solid transparent;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2E75FF;
    border: 2px solid #EAEDF5;
    box-sizing: border-box;
    border-radius: 8px;
}

.first-screen-left {
    margin-top: 100px;
}

.first-screen-left h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.4px;
    color: #1652AC;
}

.first-screen-left p {
    /*font-style: normal;*/
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #020303;
    position: relative;
    margin-top: 120px;
}

.first-screen-left p::before,
.first-screen-left p::after {
    content: "";
    display: block;
    position: absolute;
    width: 227px;
    height: 7px;
    background-color: #EDEFF3;
}

.first-screen-left p::before {
    top: -55px;
}

.first-screen-left p::after {
    bottom: -55px;
}

.first-screen-right img {
    width: 100%;
}

.second-screen-right h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2.42px;
    color: #1652AC;
}

.second-screen-right p {
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #45494F;
}

.third-screen-right {
    background-color: #003584;
}

.third-screen-right h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2.42px;
    color: #FBFDFF;
    width: 373px;
    margin-right: 120px;
}

.third-screen-right p {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #FBFDFF;
    width: 496px;
}

.fourth-screen-left {
    margin-top: 150px;
}

.fourth-screen-left h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 2.42px;
    text-transform: uppercase;
    color: #1652AC;
}

.fourth-screen-left p {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #45494F;
}

.fourth-screen-right img {
    width: 100%;
}

.block1 h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 4.42px;
    color: #020303;
    margin-bottom: 67px;
}

.block {
    background-color: #FBFBFC;
    padding: 100px 121px;
}

.block h3 {
    text-align: center;
}

.parts .row {
    padding-bottom: 10px;
    column-gap: 10px;
}

.col {
    width: 394px;
    height: 136px;
    right: 927px;
    top: 2736px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.p-3 img {
    margin-right: 35px;
}

.p-3 p {
    width: 219px;
    font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #45494F;
}

.lastCol {
    width: 394px;
    height: 136px;
    right: 927px;
    top: 2736px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    margin-left: -8px;
}

.block2 {
    left: 121px;
    top: 3364px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    margin: 110px auto;
}

.block2 h3 {
    margin-top: 43px;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 4.42px;
    color: #020303;
}

.block2__list ol {
    list-style-type: none;
}

.block2__list {
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.4px;
    color: #45494F;
    margin: 72px 54px;
}

.block2__list li {
    padding-bottom: 50px;

}

.block3 h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 4.42px;
    color: #020303;
}

.block3 img {
    margin: 50px auto;
    width: 610px;
    height: 813px;
}

.block3__slide {
    width: 610px;
}

.block3__slide-left {
    width: 126px;
    height: 78px;
    background: #FFFFFF;
    box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
    border-radius: 8px;
    margin-right: 20px;
}

.block3__slide-right {
    width: 126px;
    height: 78px;
    background: #FFFFFF;
    box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
    border-radius: 8px;
    margin-right: 50px;
}

.block3__slide-left img {
    width: 40px;
    height: 33px;
}

.block3__slide-right img {
    width: 40px;
    height: 33px;
}

.block3__slide-circle {
    width: 12px;
    height: 12px;
    left: 790px;
    top: 5227px;
    background: #80ABFF;
    opacity: 0.35;
    border: 1px solid #0045AC;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 10px;
}

.block3__slide-circleBlue {
    width: 12px;
    height: 12px;
    left: 752px;
    top: 5227px;
    background: linear-gradient(180deg, #005BE4 0%, rgba(0, 96, 241, 0) 100%), #004FC7;
    border: 1px solid #BED8FF;
    border-radius: 50%;
    margin-right: 10px;
}

.block3__category h3 {
    margin-top: 75px;
    margin-bottom: 50px;
}

.col-blue {
    width: 394.55px;
    height: 64px;
    right: 927.45px;
    top: 5472px;
    background: linear-gradient(180deg, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
    border-radius: 12px;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: 1.42px;
    color: #FAFBFE;
}

.row-cols-3 {
    margin-bottom: 82px;
}

.footer1 {
    margin-top: 73px;
    margin-bottom: 73px;
}

.footer1__first h3 {
    width: 708px;
    height: 31px;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: -0.4px;
    color: #1652AC;
    margin-top: 76px;
}

.footer1__second p {
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #464C53;
}

.footer1__second span {
    color: #0C5CD6;
}

.footer1__second-button {
    width: 306px;
    height: 69px;
    background: linear-gradient(180deg, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(48, 67, 133, 0.5);
    border-radius: 12px;
    column-gap: 20px;
}

.footer1__second-button img {
    margin-left: -150px;
}

.footer2 {
    margin-top: 73px;
    margin-bottom: 73px;
}

.footer2 h5 {
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #A3ADBA;
}

.footer2 p {
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #9EABBB;
}

.tel {
    color: black;
}

.mail {
    color: #004FC7;
}

.footer2 a {
    display: block;
    color: #9EABBB;
}

.mt {
    margin-top: 40px;
}